# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
*.egg
*.sqlite3

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Python virtual environment
.env/
.venv/

# ML models
*.h5
*.pkl
*.joblib.venv310/
